.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: sticky;
  top: 0%;
  background-color: #282c34;
  max-height: wrap;
  height:auto;
  border-bottom: 3px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 1.5vmin);
  color: white;
}
.App-body{
  background-Image:url("./Drawables/background.jpg");
  background-Size:cover;
  background-Position: center;
  background-Repeat: no-repeat;
  overflow: auto;
}
.App-footer {
  background-color: #282c34;
  border-top: 3px solid green;
  display: flex;
  flex-direction: column;
  font-size:1vmin;
  align-items:center space-around;
  color: white;
  position:fixed;
  left:0px;
  bottom:0px;
  width: stretch;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
